<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigbrainacademy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBrainAcademy">
        <activity
            android:name=".AnimalLinesScreen"
            android:exported="false" />
        <activity
            android:name=".MatchmakerScreen"
            android:exported="false" />
        <activity
            android:name=".ResultsScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".FlashMemoryScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MemoRandomScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".HeavyweightScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".WrittenMathScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".TestScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".PracticeScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ChoiceScreen"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>